# Data Cleaning Practice

## 1. Sales Dataset

In [1]:
import pandas as pd
import numpy as np

In [11]:
sales = pd.read_csv('dataset/sales.csv',header=0,encoding ='latin1')

In [12]:
sales.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

make a copy of the original dataset and modify sales2

In [13]:
sales2 = sales.copy()

In [14]:
print(sales2.columns.values)

['Unnamed: 0' 'event_id' 'primary_act_id' 'secondary_act_id'
 'purch_party_lkup_id' 'event_name' 'primary_act_name'
 'secondary_act_name' 'major_cat_name' 'minor_cat_name'
 'la_event_type_cat' 'event_disp_name' 'ticket_text'
 'tickets_purchased_qty' 'trans_face_val_amt' 'delivery_type_cd'
 'event_date_time' 'event_dt' 'presale_dt' 'onsale_dt'
 'sales_ord_create_dttm' 'sales_ord_tran_dt' 'print_dt' 'timezn_nm'
 'venue_city' 'venue_state' 'venue_postal_cd_sgmt_1' 'sales_platform_cd'
 'print_flg' 'la_valid_tkt_event_flg' 'fin_mkt_nm'
 'web_session_cookie_val' 'gndr_cd' 'age_yr' 'income_amt' 'edu_val'
 'edu_1st_indv_val' 'edu_2nd_indv_val' 'adults_in_hh_num' 'married_ind'
 'child_present_ind' 'home_owner_ind' 'occpn_val' 'occpn_1st_val'
 'occpn_2nd_val' 'dist_to_ven']

set the maximum display column numbers to 50

In [17]:
pd.set_option('display.max_columns', 50)

In [18]:
sales2.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,ticket_text,tickets_purchased_qty,trans_face_val_amt,delivery_type_cd,event_date_time,event_dt,presale_dt,onsale_dt,sales_ord_create_dttm,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,sales_platform_cd,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val,gndr_cd,age_yr,income_amt,edu_val,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,THIS TICKET IS VALID FOR PARKING ONL...,1,45.0,eTicket,2015-09-12 23:30:00,2015-09-12,NaN,2015-05-15,2015-09-11 18:17:45,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,02048,www.concerts.livenation.com,T,N,Boston,7dfa56dd7d5956b17587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,%OVERNIGHT C A M P I N G%* * * * * *%GORGE CAM...,1,75.0,TicketFast,2009-09-05 01:00:00,2009-09-04,NaN,2009-03-13,2009-07-06 00:00:00,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,NaN,T,N,Seattle,4f9e6fc637eaf7b736c2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,ADAMS STREET GARAGE%PARKING FOR 4/21/06 ONLY%D...,1,5.0,TicketFast,2006-04-22 01:30:00,2006-04-21,NaN,2006-02-25,2006-04-05 00:00:00,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,NaN,T,N,Arizona,6c2545703bd527a7144d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,THIS TICKET IS VALID FOR PARKING ONL...,1,20.0,Mail,2011-09-03 00:00:00,2011-09-02,NaN,2011-04-22,2011-07-01 17:38:50,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,NaN,T,N,Dallas,527d6b1eaffc69ddd882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,Premier Parking - motley crue,THIS TICKET IS VALID%FOR PARKING ONLY%GOOD THI...,1,20.0,Mail,2005-07-31 01:00:00,2005-07-30,2005-03-02,2005-03-04,2005-06-18 00:00:00,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,NaN,T,N,Seattle,8bd62c394a35213bdf52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Delete columns which are useless or have to many NAs

In [19]:
to_drop = ['Unnamed: 0','gndr_cd', 'age_yr', 'income_amt', 'edu_val',
 'edu_1st_indv_val', 'edu_2nd_indv_val', 'adults_in_hh_num', 'married_ind',
 'child_present_ind', 'home_owner_ind', 'occpn_val', 'occpn_1st_val',
 'occpn_2nd_val', 'dist_to_ven']
sales2.drop(to_drop, inplace=True, axis=1)

In [20]:
sales2.head()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,ticket_text,tickets_purchased_qty,trans_face_val_amt,delivery_type_cd,event_date_time,event_dt,presale_dt,onsale_dt,sales_ord_create_dttm,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,sales_platform_cd,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,THIS TICKET IS VALID FOR PARKING ONL...,1,45.0,eTicket,2015-09-12 23:30:00,2015-09-12,NaN,2015-05-15,2015-09-11 18:17:45,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,02048,www.concerts.livenation.com,T,N,Boston,7dfa56dd7d5956b17587
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,%OVERNIGHT C A M P I N G%* * * * * *%GORGE CAM...,1,75.0,TicketFast,2009-09-05 01:00:00,2009-09-04,NaN,2009-03-13,2009-07-06 00:00:00,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,NaN,T,N,Seattle,4f9e6fc637eaf7b736c2
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,ADAMS STREET GARAGE%PARKING FOR 4/21/06 ONLY%D...,1,5.0,TicketFast,2006-04-22 01:30:00,2006-04-21,NaN,2006-02-25,2006-04-05 00:00:00,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,NaN,T,N,Arizona,6c2545703bd527a7144d
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,THIS TICKET IS VALID FOR PARKING ONL...,1,20.0,Mail,2011-09-03 00:00:00,2011-09-02,NaN,2011-04-22,2011-07-01 17:38:50,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,NaN,T,N,Dallas,527d6b1eaffc69ddd882
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,Premier Parking - motley crue,THIS TICKET IS VALID%FOR PARKING ONLY%GOOD THI...,1,20.0,Mail,2005-07-31 01:00:00,2005-07-30,2005-03-02,2005-03-04,2005-06-18 00:00:00,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,NaN,T,N,Seattle,8bd62c394a35213bdf52

Convert String to datetime format

In [25]:
event_date_time=pd.to_datetime(sales2.event_date_time, errors='coerce')

In [66]:
sales2 = sales2.assign(event_date=event_date_time.dt.date, event_time=event_date_time.dt.time)

Try to automatically find datetime columns and conver to datetime format

In [50]:
mask = sales2.dropna().astype(str).apply(lambda x : x.str.match(r'\d{4}-\d{2}-\d{2} \d{2}\:\d{2}\:\d{2}').all())
sales2.loc[:,mask] = sales2.loc[:,mask].apply(pd.to_datetime)
mask2 = sales2.astype(str).apply(lambda x : x.str.match(r'\d{4}-\d{2}-\d{2}').all())
sales2.loc[:,mask2] = sales2.loc[:,mask2].apply(pd.to_datetime)
mask3 = sales2.astype(str).apply(lambda x : x.str.match(r'\d{2}\:\d{2}\:\d{2}').all())
sales2.loc[:,mask3] = sales2.loc[:,mask3].apply(pd.to_datetime)

The automatic searching did not work quite well due to certain columns have NULL values. You can also pick certain columns that you want to convert to datetime format as below:

In [60]:
sales2[['event_date_time', 'event_dt', 'presale_dt','onsale_dt','sales_ord_create_dttm','sales_ord_tran_dt','print_dt']] =sales2[['event_date_time', 'event_dt', 'presale_dt','onsale_dt','sales_ord_create_dttm','sales_ord_tran_dt','print_dt']].applymap(pd.to_datetime)

In [61]:
sales2.dtypes

event_id                          object
primary_act_id                    object
secondary_act_id                  object
purch_party_lkup_id               object
event_name                        object
primary_act_name                  object
secondary_act_name                object
major_cat_name                    object
minor_cat_name                    object
la_event_type_cat                 object
event_disp_name                   object
ticket_text                       object
tickets_purchased_qty              int64
trans_face_val_amt               float64
delivery_type_cd                  object
event_date_time           datetime64[ns]
event_dt                  datetime64[ns]
presale_dt                datetime64[ns]
onsale_dt                 datetime64[ns]
sales_ord_create_dttm     datetime64[ns]
sales_ord_tran_dt         datetime64[ns]
print_dt                  datetime64[ns]
timezn_nm                         object
venue_city                        object
venue_state                       object
venue_postal_cd_sgmt_1            object
sales_platform_cd                 object
print_flg                         object
la_valid_tkt_event_flg            object
fin_mkt_nm                        object
web_session_cookie_val            object
event_date                datetime64[ns]
event_time                datetime64[ns]
dtype: object

In [62]:
sales2.head()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,ticket_text,tickets_purchased_qty,trans_face_val_amt,delivery_type_cd,event_date_time,event_dt,presale_dt,onsale_dt,sales_ord_create_dttm,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,sales_platform_cd,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val,event_date,event_time
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,THIS TICKET IS VALID FOR PARKING ONL...,1,45.0,eTicket,2015-09-12 23:30:00,2015-09-12,NaT,2015-05-15,2015-09-11 18:17:45,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,02048,www.concerts.livenation.com,T,N,Boston,7dfa56dd7d5956b17587,2015-09-12,2015-09-12
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,%OVERNIGHT C A M P I N G%* * * * * *%GORGE CAM...,1,75.0,TicketFast,2009-09-05 01:00:00,2009-09-04,NaT,2009-03-13,2009-07-06 00:00:00,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,NaN,T,N,Seattle,4f9e6fc637eaf7b736c2,2009-09-05,2009-09-05
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,ADAMS STREET GARAGE%PARKING FOR 4/21/06 ONLY%D...,1,5.0,TicketFast,2006-04-22 01:30:00,2006-04-21,NaT,2006-02-25,2006-04-05 00:00:00,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,NaN,T,N,Arizona,6c2545703bd527a7144d,2006-04-22,2006-04-22
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,THIS TICKET IS VALID FOR PARKING ONL...,1,20.0,Mail,2011-09-03 00:00:00,2011-09-02,NaT,2011-04-22,2011-07-01 17:38:50,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,NaN,T,N,Dallas,527d6b1eaffc69ddd882,2011-09-03,2011-09-03
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,Premier Parking - motley crue,THIS TICKET IS VALID%FOR PARKING ONLY%GOOD THI...,1,20.0,Mail,2005-07-31 01:00:00,2005-07-30,2005-03-02,2005-03-04,2005-06-18 00:00:00,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,NaN,T,N,Seattle,8bd62c394a35213bdf52,2005-07-31,2005-07-31

Parse out a time stamp column into seperate columns with date and time

In [64]:
sales2=sales2.assign(sales_ord_date=sales2['sales_ord_create_dttm'].dt.date, sales_ord_time=sales2['sales_ord_create_dttm'].dt.time)

In [68]:
sales2.head()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,ticket_text,tickets_purchased_qty,trans_face_val_amt,delivery_type_cd,event_date_time,event_dt,presale_dt,onsale_dt,sales_ord_create_dttm,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,sales_platform_cd,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val,event_date,event_time,sales_ord_date,sales_ord_time
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,THIS TICKET IS VALID FOR PARKING ONL...,1,45.0,eTicket,2015-09-12 23:30:00,2015-09-12,NaT,2015-05-15,2015-09-11 18:17:45,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,02048,www.concerts.livenation.com,T,N,Boston,7dfa56dd7d5956b17587,2015-09-12,23:30:00,2015-09-11,18:17:45
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,%OVERNIGHT C A M P I N G%* * * * * *%GORGE CAM...,1,75.0,TicketFast,2009-09-05 01:00:00,2009-09-04,NaT,2009-03-13,2009-07-06 00:00:00,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,NaN,T,N,Seattle,4f9e6fc637eaf7b736c2,2009-09-05,01:00:00,2009-07-06,00:00:00
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,ADAMS STREET GARAGE%PARKING FOR 4/21/06 ONLY%D...,1,5.0,TicketFast,2006-04-22 01:30:00,2006-04-21,NaT,2006-02-25,2006-04-05 00:00:00,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,NaN,T,N,Arizona,6c2545703bd527a7144d,2006-04-22,01:30:00,2006-04-05,00:00:00
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,THIS TICKET IS VALID FOR PARKING ONL...,1,20.0,Mail,2011-09-03 00:00:00,2011-09-02,NaT,2011-04-22,2011-07-01 17:38:50,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,NaN,T,N,Dallas,527d6b1eaffc69ddd882,2011-09-03,00:00:00,2011-07-01,17:38:50
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,Premier Parking - motley crue,THIS TICKET IS VALID%FOR PARKING ONLY%GOOD THI...,1,20.0,Mail,2005-07-31 01:00:00,2005-07-30,2005-03-02,2005-03-04,2005-06-18 00:00:00,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,NaN,T,N,Seattle,8bd62c394a35213bdf52,2005-07-31,01:00:00,2005-06-18,00:00:00

Combine two string columns into one new column

In [71]:
sales2['venue_city_state'] = sales2['venue_city'] +','+ sales2['venue_state']

In [72]:
sales2['venue_city_state'].head()

0    MANSFIELD,MASSACHUSETTS
1          QUINCY,WASHINGTON
2            PHOENIX,ARIZONA
3               DALLAS,TEXAS
4          AUBURN,WASHINGTON
Name: venue_city_state, dtype: object

## 2. MBTA Excel Dataset

use the pd.read_excel to read the mbta.xlsx file using default settings

In [76]:
mbta = pd.read_excel('dataset/mbta.xlsx')

In [77]:
mbta.head()

,MBTA Avg Weekday Unlinked Passenger Trips (thousands),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,NaN,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
1,1.0,All Modes by Qtr,NaN,NaN,1187.65,NaN,NaN,1245.96,NaN,NaN,1256.57,NaN,NaN,1216.89,NaN,NaN,1253.52,NaN,NaN,1314.82,NaN,NaN,1307.04,NaN,NaN,...,NaN,NaN,1207.85,NaN,NaN,1208.86,NaN,NaN,1244.41,NaN,NaN,1225.53,NaN,NaN,1216.26,NaN,NaN,1223.45,NaN,NaN,1302.41,NaN,NaN,1290.55,NaN
2,2.0,Boat,4,3.6,40,4.3,4.9,5.8,6.521,6.572,5.469,5.145,3.763,2.985,3.175,3.111,3.512,4.164,4.015,5.189,6.016,5.8,4.587,4.285,3.488,...,4.212,3.576,3.113,3.207,3.195,3.481,4.452,4.415,5.411,6.513,6.269,4.699,4.402,3.731,3.156,3.14,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
3,3.0,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,368.847,330.826,312.92,340.324,352.905,361.155,368.189,363.903,362.962,370.921,361.057,389.537,357.974,345.423,...,385.868,366.98,332.394,362.226,361.138,373.443,378.611,380.171,363.275,353.04,343.688,381.622,384.987,367.955,326.338,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
4,4.0,Commuter Rail,142.2,138.5,137.7,139.5,139,143,142.391,142.364,143.051,146.542,145.089,141.585,142.145,142.607,137.453,140.389,142.585,142.057,145.731,144.565,141.907,151.957,152.952,...,137.104,129.343,126.066,130.91,131.918,131.252,131.722,128.8,129.144,122.935,129.732,132.892,131.033,130.889,121.422,128.396,125.463,134.374,134.169,136.14,135.581,132.41,130.616,136.901,128.72

We do not need the first rows by observing the dataset. Set the column header as None

In [80]:
mbta2 = pd.read_excel('dataset/mbta.xlsx',skiprows=1,header=None,
...               na_values=['NA', ''])

In [96]:
mbta2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
0,NaN,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
1,1.0,All Modes by Qtr,NaN,NaN,1187.65,NaN,NaN,1245.96,NaN,NaN,1256.57,NaN,NaN,1216.89,NaN,NaN,1253.52,NaN,NaN,1314.82,NaN,NaN,1307.04,NaN,NaN,...,NaN,NaN,1207.85,NaN,NaN,1208.86,NaN,NaN,1244.41,NaN,NaN,1225.53,NaN,NaN,1216.26,NaN,NaN,1223.45,NaN,NaN,1302.41,NaN,NaN,1290.55,NaN
2,2.0,Boat,4,3.6,40,4.3,4.9,5.8,6.521,6.572,5.469,5.145,3.763,2.985,3.175,3.111,3.512,4.164,4.015,5.189,6.016,5.8,4.587,4.285,3.488,...,4.212,3.576,3.113,3.207,3.195,3.481,4.452,4.415,5.411,6.513,6.269,4.699,4.402,3.731,3.156,3.14,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
3,3.0,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,368.847,330.826,312.92,340.324,352.905,361.155,368.189,363.903,362.962,370.921,361.057,389.537,357.974,345.423,...,385.868,366.98,332.394,362.226,361.138,373.443,378.611,380.171,363.275,353.04,343.688,381.622,384.987,367.955,326.338,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
4,4.0,Commuter Rail,142.2,138.5,137.7,139.5,139,143,142.391,142.364,143.051,146.542,145.089,141.585,142.145,142.607,137.453,140.389,142.585,142.057,145.731,144.565,141.907,151.957,152.952,...,137.104,129.343,126.066,130.91,131.918,131.252,131.722,128.8,129.144,122.935,129.732,132.892,131.033,130.889,121.422,128.396,125.463,134.374,134.169,136.14,135.581,132.41,130.616,136.901,128.72

In [83]:
print(mbta2.columns.values)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59]

Drop the first Column which is the index column in the original excel file

In [98]:
mbta3=mbta2.drop([0],axis=1)

In [99]:
mbta3.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,...,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
0,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12,...,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
1,All Modes by Qtr,NaN,NaN,1187.65,NaN,NaN,1245.96,NaN,NaN,1256.57,NaN,NaN,1216.89,NaN,NaN,1253.52,NaN,NaN,1314.82,NaN,NaN,1307.04,NaN,NaN,1232.65,...,NaN,NaN,1207.85,NaN,NaN,1208.86,NaN,NaN,1244.41,NaN,NaN,1225.53,NaN,NaN,1216.26,NaN,NaN,1223.45,NaN,NaN,1302.41,NaN,NaN,1290.55,NaN
2,Boat,4,3.6,40,4.3,4.9,5.8,6.521,6.572,5.469,5.145,3.763,2.985,3.175,3.111,3.512,4.164,4.015,5.189,6.016,5.8,4.587,4.285,3.488,3.007,...,4.212,3.576,3.113,3.207,3.195,3.481,4.452,4.415,5.411,6.513,6.269,4.699,4.402,3.731,3.156,3.14,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
3,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,368.847,330.826,312.92,340.324,352.905,361.155,368.189,363.903,362.962,370.921,361.057,389.537,357.974,345.423,325.767,...,385.868,366.98,332.394,362.226,361.138,373.443,378.611,380.171,363.275,353.04,343.688,381.622,384.987,367.955,326.338,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
4,Commuter Rail,142.2,138.5,137.7,139.5,139,143,142.391,142.364,143.051,146.542,145.089,141.585,142.145,142.607,137.453,140.389,142.585,142.057,145.731,144.565,141.907,151.957,152.952,140.81,...,137.104,129.343,126.066,130.91,131.918,131.252,131.722,128.8,129.144,122.935,129.732,132.892,131.033,130.889,121.422,128.396,125.463,134.374,134.169,136.14,135.581,132.41,130.616,136.901,128.72

Transpose the wide format data in mbta3 to the desired long format and use the first column as the header name

In [102]:
mbta4=mbta3.set_index([1]).T

In [103]:
mbta4.dtypes

1
mode                 object
All Modes by Qtr     object
Boat                 object
Bus                  object
Commuter Rail        object
Heavy Rail           object
Light Rail           object
Pct Chg / Yr         object
Private Bus          object
RIDE                 object
Trackless Trolley    object
TOTAL                object
dtype: object

Convert the column 'mode' to datetime format

In [105]:
mbta4['mode']=pd.to_datetime(mbta4.mode, errors='coerce')
mbta4.describe()

1,mode,All Modes by Qtr,Boat,Bus,Commuter Rail,Heavy Rail,Light Rail,Pct Chg / Yr,Private Bus,RIDE,Trackless Trolley,TOTAL
count,0.0,19.000,58.0,58.000,58.000,58.000,58.000,58.000,58.000,58.0,58.000,58.000
unique,0.0,19.000,56.0,58.000,58.000,58.000,58.000,49.000,56.000,57.0,58.000,58.000
top,NaN,1245.959,5.8,368.189,141.448,508.145,255.557,-0.022,4.079,5.4,14.172,1241.268
freq,NaN,1.000,2.0,1.000,1.000,1.000,1.000,3.000,2.000,2.0,1.000,1.000

Convert the rest of the columns to numeric format

In [109]:
cols = mbta4.columns.drop('mode')
mbta4[cols] = mbta4[cols].apply(pd.to_numeric, errors='coerce')
mbta4.dtypes

1
mode                 datetime64[ns]
All Modes by Qtr            float64
Boat                        float64
Bus                         float64
Commuter Rail               float64
Heavy Rail                  float64
Light Rail                  float64
Pct Chg / Yr                float64
Private Bus                 float64
RIDE                        float64
Trackless Trolley           float64
TOTAL                       float64
dtype: object

In [110]:
mbta4.describe()

1,All Modes by Qtr,Boat,Bus,Commuter Rail,Heavy Rail,Light Rail,Pct Chg / Yr,Private Bus,RIDE,Trackless Trolley,TOTAL
count,19.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,1242.513947,5.067966,358.590448,137.351534,489.293483,232.988810,0.006259,3.352190,6.603672,12.125052,1244.752569
std,36.792126,4.800859,18.596386,6.881345,27.927683,18.187839,0.045494,0.856181,0.937127,2.235618,56.404914
min,1187.653000,2.985000,312.920000,121.422000,435.294000,194.446000,-0.094000,2.213000,4.900000,5.777000,1112.915000
25%,1216.576000,3.494000,345.625750,131.369500,471.054750,220.589250,-0.022000,2.640750,5.965500,11.679250,1210.991000
50%,1232.655000,4.292500,359.896000,138.750000,487.257500,231.925500,0.005500,2.819500,6.615000,12.597500,1243.841000
75%,1255.046500,5.355500,372.178750,142.358000,511.268000,244.533250,0.047500,4.167250,7.149500,13.320000,1291.954750
max,1314.821000,40.000000,398.456000,152.952000,554.932000,271.070000,0.114000,4.878000,8.598000,15.109000,1348.754000

## 3. food dataset

In [152]:
food = pd.read_csv('dataset/food.csv',header=0)

In [114]:
food.dtypes

V1                                    int64
code                                  int64
url                                  object
creator                              object
created_t                             int64
created_datetime                     object
last_modified_t                       int64
last_modified_datetime               object
product_name                         object
generic_name                         object
quantity                             object
packaging                            object
packaging_tags                       object
brands                               object
brands_tags                          object
categories                           object
categories_tags                      object
categories_en                        object
origins                              object
origins_tags                         object
manufacturing_places                 object
manufacturing_places_tags            object
labels                               object
labels_tags                          object
labels_en                            object
emb_codes                            object
emb_codes_tags                       object
first_packaging_code_geo             object
cities                              float64
cities_tags                          object
                                     ...
vitamin_b9_100g                     float64
vitamin_b12_100g                    float64
biotin_100g                         float64
pantothenic_acid_100g               float64
silica_100g                         float64
bicarbonate_100g                    float64
potassium_100g                      float64
chloride_100g                       float64
calcium_100g                        float64
phosphorus_100g                     float64
iron_100g                           float64
magnesium_100g                      float64
zinc_100g                           float64
copper_100g                         float64
manganese_100g                      float64
fluoride_100g                       float64
selenium_100g                       float64
chromium_100g                       float64
molybdenum_100g                     float64
iodine_100g                         float64
caffeine_100g                       float64
taurine_100g                        float64
ph_100g                             float64
fruits_vegetables_nuts_100g         float64
collagen_meat_protein_ratio_100g    float64
cocoa_100g                          float64
chlorophyl_100g                     float64
carbon_footprint_100g               float64
nutrition_score_fr_100g             float64
nutrition_score_uk_100g             float64
Length: 160, dtype: object

In [115]:
food.head()

,V1,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,manufacturing_places_tags,labels,labels_tags,labels_en,...,bicarbonate_100g,potassium_100g,chloride_100g,calcium_100g,phosphorus_100g,iron_100g,magnesium_100g,zinc_100g,copper_100g,manganese_100g,fluoride_100g,selenium_100g,chromium_100g,molybdenum_100g,iodine_100g,caffeine_100g,taurine_100g,ph_100g,fruits_vegetables_nuts_100g,collagen_meat_protein_ratio_100g,cocoa_100g,chlorophyl_100g,carbon_footprint_100g,nutrition_score_fr_100g,nutrition_score_uk_100g
0,1,100030,http://world-en.openfoodfacts.org/product/3222...,sebleouf,1424747544,2015-02-24T03:12:24Z,1438445887,2015-08-01T16:18:07Z,Confiture de fraise fraise des bois au sucre d...,NaN,265 g,"Bocal,Verre","bocal,verre",Casino DÃ©lices,casino-delices,"Aliments et boissons Ã base de vÃ©gÃ©taux,Alimen...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,France,france,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,11.0,11.0
1,2,100050,http://world-en.openfoodfacts.org/product/5410...,foodorigins,1450316429,2015-12-17T01:40:29Z,1450817956,2015-12-22T20:59:16Z,Guylian Sea Shells Selection,NaN,375g,"Plastic,Box","plastic,box",Guylian,guylian,Chocolate,"en:sugary-snacks,en:chocolates","Sugary snacks,Chocolates",NaN,NaN,Belgium,belgium,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,100079,http://world-en.openfoodfacts.org/product/3264...,domdom26,1428674916,2015-04-10T14:08:36Z,1428739289,2015-04-11T08:01:29Z,PÃ¢tes de fruits aromatisÃ©es,PÃ¢tes de fruits,1 kg,"Carton,plastique","carton,plastique",Jacquot,jacquot,pÃ¢tes de fruits,"en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,100094,http://world-en.openfoodfacts.org/product/8006...,javichu,1420416591,2015-01-05T00:09:51Z,1420417876,2015-01-05T00:31:16Z,Nata vegetal a base de soja &quot;Valsoia&quot;,Nata vegetal a base de soja,200 ml,Tetra Brik,tetra-brik,"Valsoia,//Propiedad de://,Valsoia S.p.A.","valsoia,propiedad-de,valsoia-s-p-a","Alimentos y bebidas de origen vegetal,Alimento...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,Italia,italia,"Vegetariano,Vegano,Sin gluten,Sin OMG,Sin lactosa","en:vegetarian,en:vegan,en:gluten-free,en:no-gm...","Vegetarian,Vegan,Gluten-free,No GMOs,No lactose",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0
4,5,100124,http://world-en.openfoodfacts.org/product/8480...,javichu,1420501121,2015-01-05T23:38:41Z,1445700917,2015-10-24T15:35:17Z,Semillas de girasol con cÃ¡scara tostadas aguasal,Semillas de girasol con cÃ¡scara tostadas aguasal,200 g,"Bolsa de plÃ¡stico,Envasado en atmÃ³sfera protec...","bolsa-de-plastico,envasado-en-atmosfera-protec...","Hacendado,//Propiedad de://,Mercadona S.A.","hacendado,propiedad-de,mercadona-s-a","Semillas de girasol y derivados, Semillas, Sem...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",Argentina,argentina,"Beniparrell,Valencia (provincia),Comunidad Val...","beniparrell,valencia-provincia,comunidad-valen...","Vegetariano,Vegano,Sin gluten","en:vegetarian,en:vegan,en:gluten-free","Vegetarian,Vegan,Gluten-free",...,NaN,NaN,NaN,NaN,1.155,0.0038,0.129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17.0

Drop the V1 column

In [122]:
food=food.drop('V1',axis=1)
# sorting by first name 
food.sort_values("code", inplace = True)

Check total number of rows and drop duplcate

In [125]:
len(food)

1500

In [126]:
food.drop_duplicates(subset ="code", 
                     keep = False, inplace = True)

In [127]:
len(food)

1500

In [128]:
food=food.drop(['created_t','last_modified_t'],axis=1)

In [133]:
food.isna().sum(axis = 0)

code                                   0
url                                    0
creator                                1
created_datetime                       0
last_modified_datetime                 0
product_name                         126
generic_name                         749
quantity                             220
packaging                            373
packaging_tags                       373
brands                               223
brands_tags                          223
categories                           374
categories_tags                      374
categories_en                        374
origins                             1149
origins_tags                        1149
manufacturing_places                1050
manufacturing_places_tags           1050
labels                               975
labels_tags                          975
labels_en                            975
emb_codes                           1068
emb_codes_tags                      1068
first_packaging_code_geo            1217
cities                              1500
cities_tags                         1189
purchase_places                      670
stores                               796
countries                              9
                                    ...
vitamin_b9_100g                     1483
vitamin_b12_100g                    1489
biotin_100g                         1498
pantothenic_acid_100g               1486
silica_100g                         1499
bicarbonate_100g                    1497
potassium_100g                      1487
chloride_100g                       1497
calcium_100g                        1449
phosphorus_100g                     1488
iron_100g                           1463
magnesium_100g                      1479
zinc_100g                           1493
copper_100g                         1498
manganese_100g                      1499
fluoride_100g                       1498
selenium_100g                       1499
chromium_100g                       1500
molybdenum_100g                     1500
iodine_100g                         1499
caffeine_100g                       1500
taurine_100g                        1500
ph_100g                             1500
fruits_vegetables_nuts_100g         1470
collagen_meat_protein_ratio_100g    1497
cocoa_100g                          1491
chlorophyl_100g                     1500
carbon_footprint_100g               1497
nutrition_score_fr_100g              825
nutrition_score_uk_100g              825
Length: 157, dtype: int64

You can drop all columns which contain more than 75% NA values

In [131]:
food2=food.dropna(thresh=len(food)*0.75, axis=1)

In [132]:
food2.isna().sum(axis = 0)

code                        0
url                         0
creator                     1
created_datetime            0
last_modified_datetime      0
product_name              126
quantity                  220
packaging                 373
packaging_tags            373
brands                    223
brands_tags               223
categories                374
categories_tags           374
categories_en             374
countries                   9
countries_tags              9
countries_en                9
pnns_groups_1             330
pnns_groups_2             278
states                      1
states_tags                 1
states_en                   1
main_category             375
main_category_en          375
image_url                  90
image_small_url            90
dtype: int64

Fill all NA values with 0

In [134]:
food3=food.fillna(0)

In [136]:
food3.head()

,code,url,creator,created_datetime,last_modified_datetime,product_name,generic_name,quantity,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,manufacturing_places_tags,labels,labels_tags,labels_en,emb_codes,emb_codes_tags,first_packaging_code_geo,...,bicarbonate_100g,potassium_100g,chloride_100g,calcium_100g,phosphorus_100g,iron_100g,magnesium_100g,zinc_100g,copper_100g,manganese_100g,fluoride_100g,selenium_100g,chromium_100g,molybdenum_100g,iodine_100g,caffeine_100g,taurine_100g,ph_100g,fruits_vegetables_nuts_100g,collagen_meat_protein_ratio_100g,cocoa_100g,chlorophyl_100g,carbon_footprint_100g,nutrition_score_fr_100g,nutrition_score_uk_100g
0,100030,http://world-en.openfoodfacts.org/product/3222...,sebleouf,2015-02-24T03:12:24Z,2015-08-01T16:18:07Z,Confiture de fraise fraise des bois au sucre d...,0,265 g,"Bocal,Verre","bocal,verre",Casino DÃ©lices,casino-delices,"Aliments et boissons Ã base de vÃ©gÃ©taux,Alimen...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",0,0,France,france,0,0,0,EMB 78015,emb-78015,"48.983333,2.066667",...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,11.0,11.0
1,100050,http://world-en.openfoodfacts.org/product/5410...,foodorigins,2015-12-17T01:40:29Z,2015-12-22T20:59:16Z,Guylian Sea Shells Selection,0,375g,"Plastic,Box","plastic,box",Guylian,guylian,Chocolate,"en:sugary-snacks,en:chocolates","Sugary snacks,Chocolates",0,0,Belgium,belgium,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100079,http://world-en.openfoodfacts.org/product/3264...,domdom26,2015-04-10T14:08:36Z,2015-04-11T08:01:29Z,PÃ¢tes de fruits aromatisÃ©es,PÃ¢tes de fruits,1 kg,"Carton,plastique","carton,plastique",Jacquot,jacquot,pÃ¢tes de fruits,"en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100094,http://world-en.openfoodfacts.org/product/8006...,javichu,2015-01-05T00:09:51Z,2015-01-05T00:31:16Z,Nata vegetal a base de soja &quot;Valsoia&quot;,Nata vegetal a base de soja,200 ml,Tetra Brik,tetra-brik,"Valsoia,//Propiedad de://,Valsoia S.p.A.","valsoia,propiedad-de,valsoia-s-p-a","Alimentos y bebidas de origen vegetal,Alimento...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",0,0,Italia,italia,"Vegetariano,Vegano,Sin gluten,Sin OMG,Sin lactosa","en:vegetarian,en:vegan,en:gluten-free,en:no-gm...","Vegetarian,Vegan,Gluten-free,No GMOs,No lactose",0,0,0,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0
4,100124,http://world-en.openfoodfacts.org/product/8480...,javichu,2015-01-05T23:38:41Z,2015-10-24T15:35:17Z,Semillas de girasol con cÃ¡scara tostadas aguasal,Semillas de girasol con cÃ¡scara tostadas aguasal,200 g,"Bolsa de plÃ¡stico,Envasado en atmÃ³sfera protec...","bolsa-de-plastico,envasado-en-atmosfera-protec...","Hacendado,//Propiedad de://,Mercadona S.A.","hacendado,propiedad-de,mercadona-s-a","Semillas de girasol y derivados, Semillas, Sem...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",Argentina,argentina,"Beniparrell,Valencia (provincia),Comunidad Val...","beniparrell,valencia-provincia,comunidad-valen...","Vegetariano,Vegano,Sin gluten","en:vegetarian,en:vegan,en:gluten-free","Vegetarian,Vegan,Gluten-free","ES 21.016540/V EC,ENVASADOR:,IMPORTACO S.A.","es-21-016540-v-ec,envasador,importaco-s-a",0,...,0.0,0.0,0.0,0.0,1.155,0.0038,0.129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,17.0

Search a column named 'energy_100g' and find its column index

In [137]:
food.columns.get_loc("energy_100g")

61

Total column numbers

In [138]:
len(food.columns)

157

Find the all the colnames from column index 61 to 157

In [159]:
colname = food.columns[61:157]

In [160]:
colname

Index(['main_category_en', 'image_url', 'image_small_url', 'energy_100g',
       'energy_from_fat_100g', 'fat_100g', 'saturated_fat_100g',
       'butyric_acid_100g', 'caproic_acid_100g', 'caprylic_acid_100g',
       'capric_acid_100g', 'lauric_acid_100g', 'myristic_acid_100g',
       'palmitic_acid_100g', 'stearic_acid_100g', 'arachidic_acid_100g',
       'behenic_acid_100g', 'lignoceric_acid_100g', 'cerotic_acid_100g',
       'montanic_acid_100g', 'melissic_acid_100g', 'monounsaturated_fat_100g',
       'polyunsaturated_fat_100g', 'omega_3_fat_100g',
       'alpha_linolenic_acid_100g', 'eicosapentaenoic_acid_100g',
       'docosahexaenoic_acid_100g', 'omega_6_fat_100g', 'linoleic_acid_100g',
       'arachidonic_acid_100g', 'gamma_linolenic_acid_100g',
       'dihomo_gamma_linolenic_acid_100g', 'omega_9_fat_100g',
       'oleic_acid_100g', 'elaidic_acid_100g', 'gondoic_acid_100g',
       'mead_acid_100g', 'erucic_acid_100g', 'nervonic_acid_100g',
       'trans_fat_100g', 'cholesterol_100g', 'carbohydrates_100g',
       'sugars_100g', 'sucrose_100g', 'glucose_100g', 'fructose_100g',
       'lactose_100g', 'maltose_100g', 'maltodextrins_100g', 'starch_100g',
       'polyols_100g', 'fiber_100g', 'proteins_100g', 'casein_100g',
       'serum_proteins_100g', 'nucleotides_100g', 'salt_100g', 'sodium_100g',
       'alcohol_100g', 'vitamin_a_100g', 'beta_carotene_100g',
       'vitamin_d_100g', 'vitamin_e_100g', 'vitamin_k_100g', 'vitamin_c_100g',
       'vitamin_b1_100g', 'vitamin_b2_100g', 'vitamin_pp_100g',
       'vitamin_b6_100g', 'vitamin_b9_100g', 'vitamin_b12_100g', 'biotin_100g',
       'pantothenic_acid_100g', 'silica_100g', 'bicarbonate_100g',
       'potassium_100g', 'chloride_100g', 'calcium_100g', 'phosphorus_100g',
       'iron_100g', 'magnesium_100g', 'zinc_100g', 'copper_100g',
       'manganese_100g', 'fluoride_100g', 'selenium_100g', 'chromium_100g',
       'molybdenum_100g', 'iodine_100g', 'caffeine_100g', 'taurine_100g',
       'ph_100g', 'fruits_vegetables_nuts_100g',
       'collagen_meat_protein_ratio_100g', 'cocoa_100g', 'chlorophyl_100g'],
      dtype='object')

Replacing NA values with 0 only in the chosen columns defined by the colname

In [161]:
food[colname]=food[colname].fillna(0)

In [162]:
food.head()

,V1,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,manufacturing_places_tags,labels,labels_tags,labels_en,...,bicarbonate_100g,potassium_100g,chloride_100g,calcium_100g,phosphorus_100g,iron_100g,magnesium_100g,zinc_100g,copper_100g,manganese_100g,fluoride_100g,selenium_100g,chromium_100g,molybdenum_100g,iodine_100g,caffeine_100g,taurine_100g,ph_100g,fruits_vegetables_nuts_100g,collagen_meat_protein_ratio_100g,cocoa_100g,chlorophyl_100g,carbon_footprint_100g,nutrition_score_fr_100g,nutrition_score_uk_100g
0,1,100030,http://world-en.openfoodfacts.org/product/3222...,sebleouf,1424747544,2015-02-24T03:12:24Z,1438445887,2015-08-01T16:18:07Z,Confiture de fraise fraise des bois au sucre d...,NaN,265 g,"Bocal,Verre","bocal,verre",Casino DÃ©lices,casino-delices,"Aliments et boissons Ã base de vÃ©gÃ©taux,Alimen...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,France,france,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,0.0,NaN,11.0,11.0
1,2,100050,http://world-en.openfoodfacts.org/product/5410...,foodorigins,1450316429,2015-12-17T01:40:29Z,1450817956,2015-12-22T20:59:16Z,Guylian Sea Shells Selection,NaN,375g,"Plastic,Box","plastic,box",Guylian,guylian,Chocolate,"en:sugary-snacks,en:chocolates","Sugary snacks,Chocolates",NaN,NaN,Belgium,belgium,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,3,100079,http://world-en.openfoodfacts.org/product/3264...,domdom26,1428674916,2015-04-10T14:08:36Z,1428739289,2015-04-11T08:01:29Z,PÃ¢tes de fruits aromatisÃ©es,PÃ¢tes de fruits,1 kg,"Carton,plastique","carton,plastique",Jacquot,jacquot,pÃ¢tes de fruits,"en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4,100094,http://world-en.openfoodfacts.org/product/8006...,javichu,1420416591,2015-01-05T00:09:51Z,1420417876,2015-01-05T00:31:16Z,Nata vegetal a base de soja &quot;Valsoia&quot;,Nata vegetal a base de soja,200 ml,Tetra Brik,tetra-brik,"Valsoia,//Propiedad de://,Valsoia S.p.A.","valsoia,propiedad-de,valsoia-s-p-a","Alimentos y bebidas de origen vegetal,Alimento...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",NaN,NaN,Italia,italia,"Vegetariano,Vegano,Sin gluten,Sin OMG,Sin lactosa","en:vegetarian,en:vegan,en:gluten-free,en:no-gm...","Vegetarian,Vegan,Gluten-free,No GMOs,No lactose",...,0.0,0.0,0.0,0.0,0.000,0.0000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,11.0,11.0
4,5,100124,http://world-en.openfoodfacts.org/product/8480...,javichu,1420501121,2015-01-05T23:38:41Z,1445700917,2015-10-24T15:35:17Z,Semillas de girasol con cÃ¡scara tostadas aguasal,Semillas de girasol con cÃ¡scara tostadas aguasal,200 g,"Bolsa de plÃ¡stico,Envasado en atmÃ³sfera protec...","bolsa-de-plastico,envasado-en-atmosfera-protec...","Hacendado,//Propiedad de://,Mercadona S.A.","hacendado,propiedad-de,mercadona-s-a","Semillas de girasol y derivados, Semillas, Sem...","en:plant-based-foods-and-beverages,en:plant-ba...","Plant-based foods and beverages,Plant-based fo...",Argentina,argentina,"Beniparrell,Valencia (provincia),Comunidad Val...","beniparrell,valencia-provincia,comunidad-valen...","Vegetariano,Vegano,Sin gluten","en:vegetarian,en:vegan,en:gluten-free","Vegetarian,Vegan,Gluten-free",...,0.0,0.0,0.0,0.0,1.155,0.0038,0.129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,17.0,17.0